<h1 class="h2 mb-3">Registro de vehículos afectados por la dana</h1>

<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th>Matrícula</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Municipio</th>
        <th>Dirección</th>
        <th>Fecha de registro</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= link_to car.plate, car %></td>
          <td><%= car.brand %></td>
          <td><%= car.model %></td>
          <td><%= car.color %></td>
          <td><%= car.city %></td>
          <td><%= car.address %></td>
          <td><%= l car.created_at, format: :long %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
