<%= form_with model: @car do |f| %>
  <div class="field">
    <%= f.label :plate, "Matrícula" %>
    <%= f.text_field :plate %>
  </div>
  <div class="field">
    <%= f.label :brand, "Marca" %>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model, "Modelo" %>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :city, "Municipio" %>
    <%= f.select :city, ["Chiva", "Cheste", "Aldaya", "Alacuas", "Torrent", "Picanya", "Paiporta", "Alfafar", "Massanasa", "Catarroja", "La albufera"].sort %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :photo, "Fotografía" %>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit "Registrar vehículo" %>
  </div>
<% end %>