<%= link_to "Volver", cars_path %>

<h1 class="h2"><%= @car.plate %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Color</th>
      <th>Municipio</th>
      <th>Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @car.plate %></td>
      <td><%= @car.brand %></td>
      <td><%= @car.model %></td>
      <td><%= @car.color %></td>
      <td><%= @car.city %></td>
      <td><%= @car.address %></td>
    </tr>
  </tbody>
</table>

<h6>Foto</h6>
<% if @car.photo.attached? %>
  <%= link_to @car.photo, target: "_blank" do %>
    <%= image_tag @car.photo.variant(resize_to_limit: [500, 500]) %>
  <% end %>

  <h6>Ubicación</h6>
  <% if @latitude && @longitude %>
    <p>Coordenadas: <%= @latitude_dms %>, <%= @longitude_dms %> (<%= @latitude %>,<%= @longitude %>)</p>
    <div id="map" style="height: 500px;"></div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.marker([<%= @latitude %>, <%= @longitude %>]).addTo(map)
          .bindPopup('Localización de la fotografía')
          .openPopup();
      });
    </script>
  <% else %>
    <p>No hay ubicación</p>
  <% end %>
<% else %>
  <p>Añade una foto con metadatos de geolocalización para ayudar a localizar el vehículo</p>
  <%= form_with model: @car do |f| %>
    <div class="mb-3">
      <%= f.label :photo, "Fotografía", class: "form-label" %>
      <%= f.file_field :photo, class: "form-control" %>
    </div>
    <%= f.submit "Añadir fotografía", class: "btn btn-success" %>
  <% end %>
<% end %>
